.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(124, 167, 152);
}
.container {
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.left_block {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  justify-content: center;
  transition: 0.4s ease-in;
  transform: translateX(-100%);
}
.right_block {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  justify-content: center;
  transition: 0.4s ease-in;
}
.title_block {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.title {
  font-size: 18px;
  font-family: Comfortaa;
  text-align: center;
  cursor: default;
}
.input_contain {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.text {
  padding: 0;
  margin: 0;
  cursor: default;
}
.input_block {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.input {
  background-color: #cfdfe6;
  border: none;
  width: 75%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  padding-left: 5px;
  font-family: Roboto;
  font-size: 14px;
}
input::placeholder {
  font-family: Roboto;
}
.btn {
  padding: 12px 50px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: blueviolet;
  cursor: pointer;
}
.perehod {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  background-color: blueviolet;
  border-radius: 20px 180px 100px 20px;
  z-index: 2;
  transition: left 0.4s ease-in;
}
.perehod.active {
  right: 0;
  left: 50%;
  height: 100%;
  position: absolute;
  border-radius: 180px 20px 20px 100px;
}

.left_contain {
  position: absolute;
  z-index: 3;
  opacity: 1;
  left: 100px;
  transition: 0.4s;
}
.left_contain.active {
  opacity: 0;
  z-index: -1;
}
.right_contain {
  position: absolute;
  right: 100px;
  opacity: 0;
  transition: 0.4s;
}
.right_contain.active {
  opacity: 1;
  z-index: 3;
}
.left_block.active {
  opacity: 1;
  transform: translateX(0);
}
.right_block.active {
  opacity: 0;
  transform: translateX(100%);
}
