.body {
  padding-top: 40px;
  width: 100%;
  height: 250px;
  background-color: #4400ff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.title_contain {
  padding-top: 40px;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.contact_contain {
  padding-top: 40px;
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.follows_contain {
  padding-top: 40px;
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title {
  font-size: 32px;
  cursor: default;
  font-family: Roboto;
  font-weight: 400;
  color: white;
}
.text {
  font-size: 18px;
  cursor: default;
  font-family: Roboto;
  font-weight: 400;
  color: white;
}
.contact_text {
  font-size: 32px;
  cursor: default;
  font-family: Roboto;
  font-weight: 400;
  color: white;
}
.email {
  font-size: 16px;
  margin: 5px;
  color: white;
  font-family: Roboto;
  cursor: default;
}
.adres {
  font-size: 16px;
  margin: 5px;
  color: white;
  font-family: Roboto;
  cursor: default;
}
.contact {
  font-size: 16px;
  margin: 5px;
  color: white;
  font-family: Roboto;
  cursor: default;
}
.follows_title {
  font-size: 32px;
  cursor: default;
  font-family: Roboto;
  font-weight: 400;
  color: white;
}
.follows_icon {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.follows_icon i {
  font-size: 22px;
  color: white;
  cursor: pointer;
}
