.body {
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 20px;
  flex-direction: row;
  padding: 60px 0;
}
.left_block {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block_review {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.block_block {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.text_review {
  font-size: 24px;
  font-weight: 600;
  font-family: Roboto;
  cursor: default;
}
.block {
  font-size: 30px;
  margin: 0;
  color: #4400ff;
}
.count_review {
  font-size: 18px;
  font-weight: 500;
  cursor: default;
  font-family: Roboto;
}
.block_ocenka {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ocenka_text {
  font-size: 18px;
  cursor: default;
  font-family: Roboto;
  margin: 0;
  font-weight: 500;
}
.ocenka_count {
  font-size: 18px;
  cursor: default;
  margin: 10px;
  font-family: Roboto;
  font-weight: 500;
}
.right_block {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.rev_contain {
  width: 85%;
}
.input {
  width: 100%;
  height: 40px;
  border-radius: 32px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 18px;
  font-family: Roboto;
}
.input::placeholder {
  font-size: 18px;
  color: black;
  font-family: Roboto;
  padding-left: 10px;
}
.block_input {
  width: 100%;
  padding: 10px;
}
@media only screen and (max-width: 1279px) {
  .body {
    padding-top: 20px;
  }
  .text_review {
    font-size: 18px;
  }
  .block {
    font-size: 28px;
  }
  .count_review {
    font-size: 16px;
  }
  .ocenka_text {
    font-size: 16px;
  }
  .ocenka_count {
    font-size: 16px;
  }
  .input {
    width: 90%;
    height: 30px;
    border-radius: 16px;
    font-size: 16px;
  }
  .input::placeholder {
    font-size: 16px;
    padding-left: 8px;
  }
  .block_ocenka {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
